In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy

In [2]:
gender_development_df = pd.read_csv('gender_development_index.csv')
gender_inequality_index  = pd.read_csv('gender_inequality_index.csv')

In [3]:
gender_development_df = gender_development_df.dropna(axis=1, how='all').set_index('Country')

In [4]:
gender_development_df.drop('HDI Rank (2015)', inplace=True, axis=1)

In [5]:
gender_development_df['mean'] = gender_development_df.mean(axis=1)

In [6]:
gender_development_df['std'] = gender_development_df.std(axis=1)

In [7]:
gender_development_df['max'] = gender_development_df.max(axis=1)

In [8]:
gender_development_df['min'] = gender_development_df.min(axis=1)

In [9]:
gender_development_df

,2000,2005,2010,2011,2012,2013,2014,2015,mean,std,max,min
Country,,,,,,,,,,,,
Afghanistan,0.282,0.481,0.580,0.594,0.602,0.607,0.609,0.609,0.545500,0.107339,0.609,0.107339
Albania,0.936,0.944,0.959,0.957,0.960,0.960,0.960,0.959,0.954375,0.008587,0.960,0.008587
Algeria,0.788,0.815,0.845,0.845,0.845,0.847,0.849,0.854,0.836000,0.021219,0.854,0.021219
Argentina,0.981,1.001,0.998,0.987,0.989,0.989,0.983,0.982,0.988750,0.006869,1.001,0.006869
Armenia,0.947,0.976,1.002,1.003,1.000,0.998,0.995,0.993,0.989250,0.017859,1.003,0.017859
...,...,...,...,...,...,...,...,...,...,...,...,...
Venezuela (Bolivarian Republic of),0.987,1.011,1.028,1.028,1.029,1.029,1.029,1.028,1.021125,0.014119,1.029,0.014119
Viet Nam,0.958,0.985,0.992,0.996,1.002,1.006,1.008,1.010,0.994625,0.015976,1.010,0.015976
Yemen,0.646,0.698,0.736,0.738,0.740,0.748,0.748,0.737,0.723875,0.032933,0.748,0.032933
Zambia,NaN,NaN,0.898,0.905,0.911,0.916,0.922,0.924,0.912667,0.009159,0.924,0.009159
Zimbabwe,0.825,0.839,0.898,0.908,0.916,0.921,0.924,0.927,0.894750,0.037409,0.927,0.037409